#include "version.h"
IDI_ICON1           ICON        "myico.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 4,4,0,1
 PRODUCTVERSION 4,4,0,1
 FILEFLAGS 0x0L
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0X0l
#endif
 FILEOS 0x00040004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "080404b0" //支持中文
		BEGIN
			VALUE "CompanyName", "高至科技有限公司"
			VALUE "FileDescription", "XXXXXXX系统"
			VALUE "FileVersion", "1.0.0.0"
			VALUE "LegalCopyright", "Copyright (c) 2020 高至科技有限公司"
			VALUE "InternalName", ""
			VALUE "OriginalFilename", "origin.exe"
			VALUE "ProductName", "高至测温系统"
			VALUE "ProductVersion", "3.2.0.1"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x804, 1200 
	END
END